@model Diler_Holding_Varlik_Envater.Models.ENVATER_TAKIP_DB

@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <br />
    <div class="col-lg-1">
        <br />
        <div class="form-group">
            @Html.ActionLink("Geri dön", "MainList", "Home", null, new { @class = "btn btn-info" })
        </div>
    </div>
    <div class="col-lg-11">
        <h2 class="alert-warning" style="text-align:center">Güncelle</h2>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-offset-2 col-md-10" style="visibility:hidden">
        <input type="submit" value="Sakla" class="btn btn-success" />
    </div>

</div>

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PERSONEL_SICIL_NO, new { htmlAttributes = new { @class = "form-control", placeholder = "Sicil No" } })
                    @Html.ValidationMessageFor(model => model.PERSONEL_SICIL_NO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.PERSONEL_AD_SOYAD, new { htmlAttributes = new { @class = "form-control", placeholder = "Ad Soyad" } })
                    @Html.ValidationMessageFor(model => model.PERSONEL_AD_SOYAD, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PERSONEL_BOLUMU, new { htmlAttributes = new { @class = "form-control", placeholder = "Bölüm" } })
                    @Html.ValidationMessageFor(model => model.PERSONEL_BOLUMU, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.PERSONEL_ALT_BOLUM, new { htmlAttributes = new { @class = "form-control", placeholder = "Alt Bölüm" } })
                    @Html.ValidationMessageFor(model => model.PERSONEL_ALT_BOLUM, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.PERSONEL_POZISYON, new { htmlAttributes = new { @class = "form-control", placeholder = "Pozisyon" } })
                    @Html.ValidationMessageFor(model => model.PERSONEL_POZISYON, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.ISYERI_LOKASYON, new { htmlAttributes = new { @class = "form-control", placeholder = "Lokasyon" } })
                    @Html.ValidationMessageFor(model => model.ISYERI_LOKASYON, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-lg-2">
            <h4 style="text-align:center">PC</h4>
            @*Bilgisayar Bilgileri*@
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_DOMAIN_GRUBU, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-Domain" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_DOMAIN_GRUBU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">

                    @Html.EditorFor(model => model.BILGISAYAR_MARKA, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-Marka" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_MARKA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_MODEL, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-Model" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_MODEL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_ADI, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-Name" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_ADI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_IP_ADRESI, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-Ip Adresi" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_IP_ADRESI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_MAC_ADRESI, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-Mac Adresi" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_MAC_ADRESI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_ISLETIM_SISTEMI, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-OS" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_ISLETIM_SISTEMI, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_RAM, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-RAM" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_RAM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_ISLEMCI, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-CPU" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_ISLEMCI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_SERI_NO, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-SERI-NO" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_SERI_NO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_TUTANAK_DURUMU, new { htmlAttributes = new { @class = "form-control", placeholder = "PC Tutanak Durumu" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_TUTANAK_DURUMU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_TESLIM_DURUMU, new { htmlAttributes = new { @class = "form-control", placeholder = "PC Teslim Durumu" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_TESLIM_DURUMU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.BILGISAYAR_ACIKLAMA, new { htmlAttributes = new { @class = "form-control", placeholder = "PC-Açıklama" } })
                    @Html.ValidationMessageFor(model => model.BILGISAYAR_ACIKLAMA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <h4 style="text-align:center">DISPLAY</h4>
            @*Monitor Bilgileri*@

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.MONITOR_MARKA, new { htmlAttributes = new { @class = "form-control", placeholder = "Marka" } })
                    @Html.ValidationMessageFor(model => model.MONITOR_MARKA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.MONITOR_MODEL, new { htmlAttributes = new { @class = "form-control", placeholder = "Model" } })
                    @Html.ValidationMessageFor(model => model.MONITOR_MODEL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.MONITOR_SERI_NO, new { htmlAttributes = new { @class = "form-control", placeholder = "Seri No" } })
                    @Html.ValidationMessageFor(model => model.MONITOR_SERI_NO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.MONITOR_INCH, new { htmlAttributes = new { @class = "form-control", placeholder = "Inch" } })
                    @Html.ValidationMessageFor(model => model.MONITOR_INCH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.MONITOR_TESLIM_DURUMU, new { htmlAttributes = new { @class = "form-control", placeholder = "Teslim Durumu" } })
                    @Html.ValidationMessageFor(model => model.MONITOR_TESLIM_DURUMU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MONITOR_TUTANAK_DURUMU, new { htmlAttributes = new { @class = "form-control", placeholder = "Tutanak Durumu" } })
                    @Html.ValidationMessageFor(model => model.MONITOR_TUTANAK_DURUMU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.MONITOR_ACIKLAMA, new { htmlAttributes = new { @class = "form-control", placeholder = "Açıklama" } })
                    @Html.ValidationMessageFor(model => model.MONITOR_ACIKLAMA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            @*Yazıcı*@
            <h4 style="text-align:center">PRINTER</h4>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_MARKA, new { htmlAttributes = new { @class = "form-control", placeholder = "Marka" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_MARKA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_MODEL, new { htmlAttributes = new { @class = "form-control", placeholder = "Model" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_MODEL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_SERI_NO, new { htmlAttributes = new { @class = "form-control", placeholder = "Seri No" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_SERI_NO, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_TONER_KARTUS_KODU, new { htmlAttributes = new { @class = "form-control", placeholder = "Mürekkep Kodu" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_TONER_KARTUS_KODU, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_BAGLI_KULLANICI, new { htmlAttributes = new { @class = "form-control", placeholder = "Bağlı Kullanıcı" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_BAGLI_KULLANICI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_USB, new { htmlAttributes = new { @class = "form-control", placeholder = "USB ?" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_USB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_IP_ADRESI, new { htmlAttributes = new { @class = "form-control", placeholder = "Ip Adresi" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_IP_ADRESI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_MUREKKEP_TURU, new { htmlAttributes = new { @class = "form-control", placeholder = "Mürekkep Türü" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_MUREKKEP_TURU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_TESLIM_DURUMU, new { htmlAttributes = new { @class = "form-control", placeholder = "Teslim Durumu" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_TESLIM_DURUMU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_TUTANAK_DURUMU, new { htmlAttributes = new { @class = "form-control", placeholder = "Tutanak Durumu" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_TUTANAK_DURUMU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZICI_ACIKLAMA, new { htmlAttributes = new { @class = "form-control", placeholder = "Açıklama" } })
                    @Html.ValidationMessageFor(model => model.YAZICI_ACIKLAMA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            @*Teams&Office*@
            <h4 style="text-align:center">TEAMS&OFFICE</h4>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZILIM_OFFICE_TEAMS_KULLANICI_ADI, new { htmlAttributes = new { @class = "form-control", placeholder = "Username" } })
                    @Html.ValidationMessageFor(model => model.YAZILIM_OFFICE_TEAMS_KULLANICI_ADI, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZILIM_OFFICE_TEAMS_MS_365_STATU, new { htmlAttributes = new { @class = "form-control", placeholder = "365 ?" } })
                    @Html.ValidationMessageFor(model => model.YAZILIM_OFFICE_TEAMS_MS_365_STATU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZILIM_OFFICE_TEAMS_TEAMS_STATU, new { htmlAttributes = new { @class = "form-control", placeholder = "Teams ?" } })
                    @Html.ValidationMessageFor(model => model.YAZILIM_OFFICE_TEAMS_TEAMS_STATU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZILIM_OFFICE_TEAMS_SIFRE, new { htmlAttributes = new { @class = "form-control", placeholder = "Parola" } })
                    @Html.ValidationMessageFor(model => model.YAZILIM_OFFICE_TEAMS_SIFRE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YAZILIM_OFFICE_TEAMS_ALTERNATIF_SIFRE, new { htmlAttributes = new { @class = "form-control", placeholder = "Alternatif Parola" } })
                    @Html.ValidationMessageFor(model => model.YAZILIM_OFFICE_TEAMS_ALTERNATIF_SIFRE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            @*SAP*@

            <div class="form-group">
                <h4 style="text-align:center">SAP</h4>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SAP_MODUL, new { htmlAttributes = new { @class = "form-control", placeholder = "SAP Modul Adı" } })
                    @Html.ValidationMessageFor(model => model.SAP_MODUL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.SAP_EMAIL_ADRES, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.SAP_EMAIL_ADRES, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.SAP_YETKILENDIRME, new { htmlAttributes = new { @class = "form-control", placeholder = "SAP Yetki" } })
                    @Html.ValidationMessageFor(model => model.SAP_YETKILENDIRME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.SAP_KULLANICI_KODU, new { htmlAttributes = new { @class = "form-control", placeholder = "Kullanıcı Kodu" } })
                    @Html.ValidationMessageFor(model => model.SAP_KULLANICI_KODU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.SAP_PAROLA, new { htmlAttributes = new { @class = "form-control", placeholder = "SAP Parola" } })
                    @Html.ValidationMessageFor(model => model.SAP_PAROLA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.SAP_LOGONA_NAME, new { htmlAttributes = new { @class = "form-control", placeholder = "Logona Name" } })
                    @Html.ValidationMessageFor(model => model.SAP_LOGONA_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.SAP_SCN_NAME, new { htmlAttributes = new { @class = "form-control", placeholder = "SCN Name" } })
                    @Html.ValidationMessageFor(model => model.SAP_SCN_NAME, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.SAP_ACIKLAMA, new { htmlAttributes = new { @class = "form-control", placeholder = "Açıklama" } })
                    @Html.ValidationMessageFor(model => model.SAP_ACIKLAMA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            @*WINN*@
            <h4 style="text-align:center">WINN</h4>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VINN_MARKA, new { htmlAttributes = new { @class = "form-control", placeholder = "Marka" } })
                    @Html.ValidationMessageFor(model => model.VINN_MARKA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.VINN_MODEL, new { htmlAttributes = new { @class = "form-control", placeholder = "Model" } })
                    @Html.ValidationMessageFor(model => model.VINN_MODEL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.VINN_HAT_NUMARASI, new { htmlAttributes = new { @class = "form-control", placeholder = "Hat Numarası" } })
                    @Html.ValidationMessageFor(model => model.VINN_HAT_NUMARASI, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.VINN_SERI_NO, new { htmlAttributes = new { @class = "form-control", placeholder = "Vınn Seri Numarası" } })
                    @Html.ValidationMessageFor(model => model.VINN_SERI_NO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.VINN_PIN_NO, new { htmlAttributes = new { @class = "form-control", placeholder = "Pin No" } })
                    @Html.ValidationMessageFor(model => model.VINN_PIN_NO, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.VINN_TESLIM_DURUMU, new { htmlAttributes = new { @class = "form-control", placeholder = "Teslim Durumu" } })
                    @Html.ValidationMessageFor(model => model.VINN_TESLIM_DURUMU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.VINN_TUTANAK_DURUMU, new { htmlAttributes = new { @class = "form-control", placeholder = "Tutanak Durumu" } })
                    @Html.ValidationMessageFor(model => model.VINN_TUTANAK_DURUMU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.VINN_ACIKLAMA, new { htmlAttributes = new { @class = "form-control", placeholder = "Açıklama" } })
                    @Html.ValidationMessageFor(model => model.VINN_ACIKLAMA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    </div>

</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
