@model IEnumerable<Diler_Holding_Varlik_Envater.Models.ENVATER_TAKIP_DB>

@{ ViewBag.Title = "MainList"; }
<br />
<p>
    @Html.ActionLink("Yeni Envanter Sakla", "Create", null, new { @class = "btn btn-success" })
</p>

<h2 style="text-align:center" class="alert-success">Envanter Ana Rapor</h2>


<table id="tblMainList" class="table table-striped table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PERSONEL_SICIL_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONEL_AD_SOYAD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONEL_BOLUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONEL_ALT_BOLUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONEL_POZISYON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISYERI_LOKASYON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_DOMAIN_GRUBU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_MARKA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_ADI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_IP_ADRESI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_MAC_ADRESI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_ISLETIM_SISTEMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_TUTANAK_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_TESLIM_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_ACIKLAMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_MARKA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_SERI_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_INCH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_TESLIM_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_TUTANAK_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_ACIKLAMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_MARKA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_SERI_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_USB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_IP_ADRESI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_MUREKKEP_TURU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_TESLIM_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_TUTANAK_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_ACIKLAMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZILIM_OFFICE_TEAMS_KULLANICI_ADI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZILIM_OFFICE_TEAMS_MS_365_STATU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZILIM_OFFICE_TEAMS_TEAMS_STATU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZILIM_OFFICE_TEAMS_SIFRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZILIM_OFFICE_TEAMS_ALTERNATIF_SIFRE)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SAP_MODUL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_EMAIL_ADRES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_YETKILENDIRME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_KULLANICI_KODU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_PAROLA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_LOGONA_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_SCN_NAME)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SAP_ACIKLAMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_MARKA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_HAT_NUMARASI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_PIN_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_TESLIM_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_TUTANAK_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_ACIKLAMA)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PERSONEL_SICIL_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONEL_AD_SOYAD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONEL_BOLUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONEL_ALT_BOLUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PERSONEL_POZISYON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISYERI_LOKASYON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_DOMAIN_GRUBU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_MARKA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_ADI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_IP_ADRESI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_MAC_ADRESI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_ISLETIM_SISTEMI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_TUTANAK_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_TESLIM_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BILGISAYAR_ACIKLAMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_MARKA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_SERI_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_INCH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_TESLIM_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_TUTANAK_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MONITOR_ACIKLAMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_MARKA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_SERI_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_USB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_IP_ADRESI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_MUREKKEP_TURU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_TESLIM_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_TUTANAK_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZICI_ACIKLAMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZILIM_OFFICE_TEAMS_KULLANICI_ADI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZILIM_OFFICE_TEAMS_MS_365_STATU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZILIM_OFFICE_TEAMS_TEAMS_STATU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZILIM_OFFICE_TEAMS_SIFRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YAZILIM_OFFICE_TEAMS_ALTERNATIF_SIFRE)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SAP_MODUL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_EMAIL_ADRES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_YETKILENDIRME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_KULLANICI_KODU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_PAROLA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_LOGONA_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SAP_SCN_NAME)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SAP_ACIKLAMA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_MARKA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_MODEL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_HAT_NUMARASI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_PIN_NO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_TESLIM_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_TUTANAK_DURUMU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINN_ACIKLAMA)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PERSONEL_SICIL_NO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PERSONEL_AD_SOYAD)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PERSONEL_BOLUMU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PERSONEL_ALT_BOLUM)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PERSONEL_POZISYON)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ISYERI_LOKASYON)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BILGISAYAR_DOMAIN_GRUBU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BILGISAYAR_MARKA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BILGISAYAR_MODEL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BILGISAYAR_ADI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BILGISAYAR_IP_ADRESI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BILGISAYAR_MAC_ADRESI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BILGISAYAR_ISLETIM_SISTEMI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BILGISAYAR_TUTANAK_DURUMU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BILGISAYAR_TESLIM_DURUMU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BILGISAYAR_ACIKLAMA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MONITOR_MARKA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MONITOR_MODEL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MONITOR_SERI_NO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MONITOR_INCH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MONITOR_TESLIM_DURUMU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MONITOR_TUTANAK_DURUMU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MONITOR_ACIKLAMA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZICI_MARKA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZICI_MODEL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZICI_SERI_NO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZICI_USB)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZICI_IP_ADRESI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZICI_MUREKKEP_TURU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZICI_TESLIM_DURUMU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZICI_TUTANAK_DURUMU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZICI_ACIKLAMA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZILIM_OFFICE_TEAMS_KULLANICI_ADI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZILIM_OFFICE_TEAMS_MS_365_STATU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZILIM_OFFICE_TEAMS_TEAMS_STATU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZILIM_OFFICE_TEAMS_SIFRE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.YAZILIM_OFFICE_TEAMS_ALTERNATIF_SIFRE)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.SAP_MODUL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SAP_EMAIL_ADRES)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SAP_YETKILENDIRME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SAP_KULLANICI_KODU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SAP_PAROLA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SAP_LOGONA_NAME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SAP_SCN_NAME)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.SAP_ACIKLAMA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VINN_MARKA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VINN_MODEL)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VINN_HAT_NUMARASI)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VINN_PIN_NO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VINN_TESLIM_DURUMU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VINN_TUTANAK_DURUMU)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.VINN_ACIKLAMA)
    </td>
    <td>
        @Html.ActionLink("Güncelle", "Edit", new { id = item.ID }, new { @class = "btn btn-warning " })
    </td>
    <td>
        @Html.ActionLink("Detay", "Details", new { id = item.ID }, new { @class = "btn btn-info " })
    </td>
    <td>
        @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-danger " })
    </td>
</tr>}

</table>
<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link href="http://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" rel="stylesheet"/>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>

<script>

    $('#tblMainList tfoot th').each(function () {
        var title = $(this).text();
        $(this).html('<input type="text" align="center" placeholder="Ara" />');
    });

    $('#tblMainList').DataTable({
        dom: 'Bfrtip',
        "scrollX": true,
        "scrollY": "200px",
        "scrollCollapse": true,
        "paging": true,

        initComplete: function () {
            // Apply the search
            this.api().columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        },
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
</script>

